body {
    background: #FFB74D
}

#nav-stuff {
  margin: auto;
}
#mynavbar {
  margin-top: 10px;
}

.jumbotron {
  border-radius: 5px;
  background-color:#FF8F00;
}
.panel-grey .panel-heading {
  color:black;
  background-color:#8BC34A;
}

p {
    font-size: 1.25em;
}

#footer-text, #footer-back-text{
    font-size: 1em;
}

#footer-text {
    text-align:left;
}
#footer-back-text{
    text-align:right;
}

hr {
  border-color:black;
}

.img-menu {
  border: 2px solid black;
}

#btn-download {
    background-color: #7E57C2;
    color:white;
    margin: 1em;
    border: 2px solid black;
}


