<nav id = "mynavbar"  class = "navbar navbar-default">
  <div class = "navbar-header">
    <a style = "color:#D32F2F" class = "navbar-brand navbar-left" href = "#">
      Ovensparrow
    </a>


  </div>
  <ul id = "nav-stuff" class = "nav navbar-nav navbar-right">
    <li> <a href = "/">Home</a></li>
    <li> <a href = "#About">About</a></li>
    <li> <a href = "#Contact">Contact</a></li>
    <li> <a href = "/projects.html">Projects</a></li>
    <li> <a href = "/posts.html">Blog</a></li>
  </ul>






</nav>
